HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Mac OSX ###
.DS_Store

### vi swap and temporary files ###
*~
*.swp
*.swo

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Horizon Config
core/opennms-overlay

### git.oci
**/*.oci
git.oci/Dockerfile